<div class="upload-container">
  <h2>Enviar Arquivo</h2>
  <div class="upload-controls">
    <input type="file" (change)="onFileSelected($event)" />
    <button [disabled]="!selectedFile" (click)="onUpload()">Enviar</button>
  </div>

  <table class="student-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Média</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.nome }}</td>
        <td>{{ student.idade }}</td>
        <td>{{ student.media }}</td>
      </tr>
    </tbody>
  </table>
</div>
